<!-- Button trigger modal -->
<button
  type="button"
  class="btn btn-warning"
  data-bs-toggle="modal"
  data-bs-target="#sign-up-form"
>
  회원가입
</button>
<!-- Modal -->
<div
  class="modal fade"
  id="sign-up-form"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">회원가입</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>

      <!-- 모달바디 -->
      <div class="modal-body">
        <form action="" method="post">
          <div class="input-group mb-3">
            <label for="user_id" class="form-label">
              아이디 <span class="sign-up__required">*</span>
            </label>

            <div class="input-group mb-3">
              <input
                type="text"
                id="user_id"
                class="form-control"
                placeholder="스파르타짱짱맨"
                aria-label="Recipient's username"
                aria-describedby="button-addon2"
                required
                autocomplete="username"
              />
              <button
                class="btn btn-warning"
                type="button"
                id="user_id_confirm_button"
              >
                중복확인
              </button>
            </div>
            <label for="user_pw" class="form-label">
              비밀번호 <span class="sign-up__required">*</span>
            </label>
            <div class="input-group mb-3">
              <input
                type="password"
                id="user_pw"
                class="form-control"
                placeholder="비밀번호"
                aria-label="Recipient's username"
                aria-describedby="button-addon2"
                required
                minlength="4"
                maxlength="12"
                autocomplete="new-password"
              />
            </div>
            <div class="input-group mb-3">
              <input
                type="password"
                id="user_pw_confirm"
                class="form-control"
                placeholder="비밀번호 확인"
                aria-label="Recipient's username"
                aria-describedby="button-addon2"
                required
                minlength="4"
                maxlength="12"
                autocomplete="new-password"
              />
            </div>
            <label for="user_name" class="form-label">
              이름 <span class="sign-up__required">*</span>
            </label>
            <div class="input-group mb-3">
              <input
                type="text"
                class="form-control"
                id="user_name"
                placeholder="홍길동"
                required
              />
            </div>
            <label for="user_email" class="form-label">
              이메일 <span class="sign-up__required">*</span>
            </label>
            <div class="input-group mb-3">
              <input
                type="email"
                class="form-control"
                id="user_email"
                placeholder="name@example.com"
                required
              />
            </div>
            <div class="mb-3">
              <label for="user_avatar" class="form-label"
                >프로필 사진 (선택)</label
              >
              <input
                class="form-control"
                type="file"
                id="user_avatar"
                name="user_avatar"
                accept="image/*"
              />
            </div>
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          닫기
        </button>
        <button id="submit-signup" type="button" class="btn btn-primary">
          가입하기
        </button>
      </div>
    </div>
  </div>
</div>
<script src="../../static/JS/sign-up.js"></script>
