/* 새로 작성 */

.comment-contain {
    height: 20%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}

.comment-name {
    background-color: #fdf5df;
    width: 15%;
    text-align: center;
    padding-top: 12px;
    
}

.comment_comment {
    width: 70%;
    height: 100%;
    text-align: center;
    display: flex;
}

.body-comment {
    background-color: #fdf5df;
    width: 100%;
    padding-top: 12px;
}

.comment-button {
    background-color: #fdf5df;
    width: 15%;
    height: 100%;
    display: flex;
    padding: auto;
}

.button1 {
    margin: auto;

}