/* 새로 작성 */

.comment-contain {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}

.comment-name {
    background-color: #fdf5df;
    width: 15%;
    height: 100px;
    text-align: center;
    padding-top: 4%;
   
}

.comment_comment {
    width: 70%;
    height: 100px;
    text-align: center;
    display: flex;
 
}

.body-comment {
    background-color: #fdf5df;
    width: 100%;
    padding-top: 6%;
}

.comment-button {
    background-color: #fdf5df;
    width: 15%;
    height: 100%;
    display: flex;
    padding: auto;
}

.button1 {
    margin: auto;

}

.img-button figure img {
	-webkit-transform: scale(1.5);
	transform: scale(1.5);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.img-button figure:hover img {
	-webkit-transform: scale(1);
	transform: scale(1);
}