
* {
    font-family: 'Gowun Dodum', sans-serif;
}

a {
    color: black;
    text-decoration: none;
}

.head {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border: black solid 1px;
    height: 50px;
    color: black;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
}

.right-head {
    text-align: right;
}


.center-head {
    margin: auto;

}

.left-head > a > img {
    margin: 5px auto 5px 5px;
    float: left;
    width: 40px;
    height: 40px;
}

.left-body {
    background-color: white;
    position: fixed;
    margin: 25px 25px auto 25px;
    max-height: 1000px;
    width: 200px;
    border: black solid 1px;
    border-radius: 40px;
}

.category ol {
    color: black;
    margin: 10px;
}

.category li {
    padding: 10px;
}

.category li > a {
    color: black;
    text-decoration: none;
}

.main-body {
    margin: 75px 250px 25px 250px;

}

.profile {
    text-align: center;
    display: grid;
    grid-template-columns: 200px auto;
    margin: 10px;
    height: 200px;
    width: 700px;
    border-radius: 27px;
    border: black solid 1px;
    overflow: hidden;
}

.profile-head {
    margin: 10px;
    padding: 5px;
    display: flex;
    border-radius: 100%;
    border: black solid 1px;
    background-image: url("/static/image/ryu.jpg");
    background-size: cover;
}

.profile-body {
    border-left: black solid 1px;

}

.profile-body-top {
    display: grid;
    grid-template-columns: auto 60px;
    height: 60px;
    border-bottom: black solid 1px;
}

.profile-body-top-left {
    display: flex;
    padding: 5px;

}

.profile-body-top-right {
    margin: 5px;
}

.retouch-button {
    border: 0;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-color: white;
    background-size: cover;
    background-image: url("/static/image/수정하기.png");

}

.profile-body-bottom {

}

.interests {

    padding: 10px;
    margin: 10px;
    border: black solid 1px;
    border-radius: 27px;
    width: 700px;
    height: 400px;
}


.post {
    padding: 10px;
    margin: 10px;
    border: black solid 1px;
    border-radius: 27px;
    width: 700px;
    height: 400px;
}

.post-top {
    text-align: center;
    align-items: center;
    display: grid;
    grid-template-columns: 50px auto 50px;
}

.post-contents {

    display: grid;
    grid-template-columns: 100px auto;
    border: black solid 1px;
    border-radius: 30px;
    margin: 10px;
    height: 82%;
}

.profile-user-img {
    border: black solid 1px;
    width: 70px;
    height: 70px;
    border-radius: 27px;
    overflow: hidden;
}

.profile-user-img-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.post-top > div > button {
    height: 50px;
    width: 50px;
    border-radius: 100px;
}

li {
    list-style: none;
}







