/* newsfeed */

/* header */
.newsfeed__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--basic-padding-margin);
}

.newsfeed__header__column:first-child {
  font-size: 2rem;
}

.newsfeed__info {
  display: flex;
  padding: var(--basic-padding-margin);
  background-color: var(--main-bg-color);
}

.newsfeed__writer {
  background: var(--main-bg-color);
  border: none;
  width: 100%;
  margin-right: 0;
}

.newsfeed__writer:hover {
  transform: none;
  box-shadow: none;
}

/* preview cards */
.newsfeed__previewCard {
  display: flex;
  flex-wrap: wrap;
  padding: var(--basic-padding-margin);
  min-width: 7rem;
  width: calc(100% - 3rem - var(--basic-padding-margin));
  margin: var(--basic-padding-margin) 0px 3rem 3rem;
  background-color: var(--article-bg-color);
  border: none;
  border: var(--article-border);
  border-radius: 2rem;
  transition: var(--hover-transition);
}

.newsfeed__previewCard:hover {
  box-shadow: var(--hover-box-shadow-article);
  transform: var(--hover-transform);
  background: var(--article-bg-color);
  border: var(--article-border);
}

.newsfeed__previewCard:focus {
  box-shadow: var(--hover-box-shadow-article);
  transform: var(--hover-transform);
  background: var(--article-bg-color);
}

.previewCard__image {
  max-width: 102px;
  min-width: 102px;
  max-height: 102px;
  min-height: 102px;
  border-radius: 1.5rem;
  background-color: gainsboro;
  margin-right: 1vw;
}

.previewCard__contents {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 28vw;
  height: 100%;
  color: black;
}

.previewCard__header {
  height: 100%;
  text-align: left;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.previewCard__desc {
  width: 100%;
  height: 100%;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}

.previewCard__topics {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  overflow-block: hidden;
}
.previewCard__topics__tag {
  color: black;
  border-radius: 0.7rem;
  padding: 0.2rem 0.5rem;
  margin-right: 0.5rem;
  margin-top: 0.5rem;
  background: gainsboro;
}