/*리셋, 변수, 폰트*/
@import url(reset.css);
@import url(validation.css);
@import url("https://fonts.googleapis.com/css2?family=Jua&family=Stylish&display=swap");

/*헤더*/
@import url(header.css);

/*토픽*/
@import url(topics.css);

/*멤버카드*/
@import url(members-cards.css);

/*글 작성*/
@import url(write-new-post.css);
@import url(write-new-post-modal.css);

/*뉴스피드*/
@import url(newsfeed.css);
@import url(read-post-modal.css);


a {
  text-decoration: none;
  color: var(--title-font-color);
}
a:hover {
  color: var(--title-font-color);
}



#mainSection {
    display: flex;
    /*flex-wrap: wrap;*/
    justify-content: center;
    height: 100vh;
    padding: 120px 6.25rem 160px;
    font-family: var(--main-font-family);
    background-color: var(--main-bg-color);
}

#contents {
  width: 45vw;
  min-width: 400px;
  height: calc(100vh - 250px);
  overflow-y: scroll;
  padding-right: 2vw;
  margin-left: 2vw;
}

#contents::-webkit-scrollbar {
  width: 3px;
  background-color: transparent;
}

#contents::-webkit-scrollbar-thumb {
  background-color: #ffc107;
  border-radius: 10px;
}

#contents::-webkit-scrollbar-track {
  background-color: gainsboro;
}

footer {
  position: fixed;
  bottom: 0px;
  width: 100vw;
  height: 120px;
  background-color: white;
  border-top: 2px solid #ffc107;
  z-index: 2;
}

/*모달창 뒷배경*/
.modal-backdrop {
  z-index: 1;
}

/* 회원가입 모달창 */
.sign-up__required {
  color: red;
}
