/* member cards */
#membersCards {
  display: flex;
  flex-direction: column;
}

#membersCards__list {
  display: flex;
  overflow-x: hidden;
  padding: 10px 12px;
}

.membersCards__list__eachCards {
  border-radius: 15px;
  padding: 5px;
  margin-right: 10px;
  min-width: 42vw;
  background: white;
  border: 2px solid gainsboro;
  transition: all 0.2s ease-in-out;
}

.eachCards__inner-content-wrapper {
  display: grid;
  grid-template-columns: 200px auto 50px;
}

.eachCards__avatar {
  background: white;
  border-radius: 50%;

  width: 10vw;
  height: 10vw;

  min-width: 50px;
  min-height: 50px;

  border: 2px solid black;
  margin: 10px 10px 10px 10px;

  position: relative;
  overflow: hidden;
}

.eachCards__avatar img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.eachCards__info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-weight: bold;

  background: white;
  padding: 3px;
  border-radius: 15px;
  min-width: 20px;
  margin: 8px 8px 8px 0px;

}

.eachCards__info__edit i {
  padding: 5px;
  border: 2px solid rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
}

.eachCards__info__email {
  margin-bottom: 30px;
  color: rgba(0, 0, 0, 0.3);
}

.eachCards__info__about {
  margin-bottom: 3.5vw;
  color: rgba(0, 0, 0, 0.3);
}

.eachCards__info__maker {
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-weight: bold;
  font-size: 14px;
  padding: 10px;
  background-color: floralwhite;
  border-radius: 10px;
}

.profile__image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.essential {
  color: red
}

.form__id__email {
  display: grid;
  grid-template-columns: 200px auto 1px;
}

.eachCards_info_maker__space {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.eachCards__info__maker__edit {
  background: transparent;
  border: 0px;
  text-decoration: none;
}

.eachCards__info__maker__save {
  background: transparent;
  border: 0px;
  text-decoration: none;
}

.eachCards__info__maker__edit:hover {
  color: #87B5F5;
}