/* newsfeed */

/* header */
.newsfeed__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.newsfeed__header__column:first-child {
  font-size: 30px;
}

.newsfeed__info {
  display: flex;
  padding: 10px;
  background-color: floralwhite;
}

.newsfeed__writer {
  background: floralwhite;
  border: none;
  width: 100%;
  margin-right: 0;
}

.newsfeed__writer:hover {
  transform: none;
  box-shadow: none;
}

/* preview cards */
.newsfeed__previewCard {
  display: flex;
  padding: 10px;
  width: calc(100% - 60px);
  margin: 10px 0px 50px 50px;
  background-color: white;
  border: none;
  border: 2px solid gainsboro;
  border-radius: 20px;
  transition: all 0.2s ease-in-out;
}

.newsfeed__previewCard:hover {
  box-shadow: 7px 7px 12px rgba(0, 0, 0, 0.7);
  transform: translateY(-5px);
  background: white;
  border: 2px solid gainsboro;
}

.newsfeed__previewCard:focus {
  box-shadow: 7px 7px 12px rgba(0, 0, 0, 0.7);
  transform: translateY(-5px);
  background: white;
}

.previewCard__image {
  width: 7vw;
  height: 7vw;
  border: 2px solid black;
  border-radius: 20px;
  margin-right: 1vw;
}

.previewCard__contents {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 7vw;
  color: black;
}

.previewCard__header {
  text-align: left;
}

.previewCard__topics {
  display: flex;
}
.previewCard__topics__tag {
  color: black;
  border-radius: 10px;
  padding: 2px 5px;
  margin-right: 5px;
  background: gainsboro;
  border: 2px solid gainsboro;
}
