@import url(reset.css);
@import url("https://fonts.googleapis.com/css2?family=Jua&family=Stylish&display=swap");

@import url(header.css);
@import url(topics.css);
@import url(members-cards.css);
@import url(write-new-post.css);
@import url(newsfeed.css);

a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: black;
}

#mainSection {
  display: flex;
  justify-content: center;
  padding: 7.5rem 6.25rem;
  font-family: var(--main-font-family);
  background-color: var(--main-bg-color);
}

#contents {
  width: 43vw;
  margin-left: 2vw;
}

footer {
  background-color: goldenrod;
  border: 2px solid tomato;
}
