<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>


    <title>개인페이지</title>
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/individual.css">

</head>
<style>
    #my_modal {
        display: none;
        width: 400px;
        height: 600px;
        padding: 20px 10px;
        background-color: #fefefe;
        border: 1px solid #888;
        border-radius: 3px;
    }

    #my_modal .modal_close_btn {
        position: absolute;
        top: 10px;
        right: 10px;
    }

    .bottom {
        position: center;
    }
</style>

<body>

<div class="head">
    <div class="left-head">
        <a href="index.html"><img src="/static/image/SBSJ.png"></a>
        <h1><a href="index.html">상부 삼조</a></h1>
    </div>
    <div class="center-head">
    </div>
    <div class="right-head">
    </div>
</div>


</div>
<div class="left-body">
    <div class="category">
        <ol>
            <li><a href="">전체</a></li>
            <li>중개 플렛폼
            <li>라이프스타일</li>
            <li>금융</li>
            <li>소셜</li>
            <li>미디어</li>
            <li>교육</li>
            <li>생산성</li>
            <li>블록체인</li>
            <li>노코드</li>
            <li>인공지능</li>
            <li>커뮤니티</li>
            <li>분석툴</li>
            <li>디자인</li>
        </ol>
    </div>
</div>
<div class="main-body">
    <div class="posting-box">
        <div class="profile">
            <div class="profile-head"></div>
            <div class="profile-body">
                <div class="profile-body-top">
                    <div class="profile-body-top-left">@rookas33<br>milb.tistory.com</div>
                    <div class="profile-body-top-right">
                        <button onclick="수정하기()" class="retouch-button"></button>
                    </div>
                </div>
                <div class="profile-body-bottom">내용내용</div>
            </div>
        </div>
        <div class="interests"></div>
        <div class="post">
            <div class="post-top">
                <div>
                    <button onclick="수정하기()">수정<br>하기</button>
                </div>
                <div class="post-title">
                    여기에 무언가 들어갑니다.
                </div>
                <div>
                    <button onclick="삭제하기()">삭제<br>하기</button>
                </div>
            </div>
            <div class="post-contents">
                <div class="profile-user-img">
                    <img src="/static/image/ryu.jpg" class="profile-user-img-img">
                </div>
                <div>여기에 제목이 들어갑니다.<br>

                </div>


            </div>
        </div>
        <div class="post">
            <div class="post-top">
                <div>
                    <button onclick="수정하기()">수정<br>하기</button>
                </div>
                <div class="post-title">
                    여기에 무언가 들어갑니다.
                </div>
                <div>
                    <button onclick="삭제하기()">삭제<br>하기</button>
                </div>
            </div>
            <div class="post-contents">
                <div class="profile-user-img">
                    <img src="/static/image/ryu.jpg" class="profile-user-img-img">
                </div>
                <div>여기에 제목이 들어갑니다.<br>

                </div>


            </div>
        </div>

    </div>


</div>
</div>


</body>

</html>