<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>


    <title>로그인페이지</title>
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/index.css">


</head>
<body>
<div class="sc-jSgupP bbWBRq"><h2>👋 디스콰이엇 로그인하기</h2>
    <p>환영해요 메이커님!<br>디스콰이엇은 이런 분들을 위한 공간이에요~</p>
    <div class="sc-gKsewC vHdbU">
        <div class="intro">
            <div class="introIconWrapper"><img class="introIcon" src="/static/media/ic_people.1c21bf30.svg"
                                               alt="people icon"></div>
            <p class="introTextContent">내 아이디어를 혼자 실행으로 옮기는게 힘들어서 다른 메이커들과 같이 하고 싶어요.</p></div>
        <div class="intro">
            <div class="introIconWrapper"><img class="introIcon" src="/static/media/ic_chat.87ca93ca.svg"
                                               alt="chat icon"></div>
            <p class="introTextContent">다른 메이커들로부터 내 프로덕트에 대한 피드백을 얻고 싶어요.</p></div>
        <div class="intro">
            <div class="introIconWrapper"><img class="introIcon" src="/static/media/ic_inspiration.6a92567c.svg"
                                               alt="inspiration icon"></div>
            <p class="introTextContent">프로덕트를 만드는데 도움이 되는 다양한 영감을 얻고 싶어요.</p></div>
        <div class="intro">
            <div class="introIconWrapper"><img class="introIcon" src="/static/media/ic_communicate.c775cb5c.svg"
                                               alt="communicate icon"></div>
            <p class="introTextContent">내 프로덕트를 다른 사람들에게 알리고 싶어요.</p></div>
    </div>
    <a href="
    https://api.disquiet.io/api/auth/redirect/google?next=/@sweetdo
  ">
        <button class="authBtn "><img class="socialIcn" src="/static/media/ic_google_auth.6013c73c.svg" alt="authBtn"
                                      style="width: 1.5rem; height: 1.5rem;">구글 계정으로 로그인하기
        </button>
    </a></div>
</body>

</html>