<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
            crossorigin="anonymous"
    />
    <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"
    ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script
            src="https://kit.fontawesome.com/ec13307674.js"
            crossorigin="anonymous"
    ></script>
    <title>Title</title>

    <script>
        function test(){
            let a = document.getElementById('text').value;
            console.log(a)
        }

        function sendUserUniqueId(){

            let userId = "hungry"
            let userUniqueId = "2"

            $.ajax({
                type: 'POST',
                url: '/sendUserUniqueId',
                data: {"userIdGive": userId, "userUniqueIdGive": userUniqueId},
                success: function (){
                }
            })

            return
        }

        function file(){
            let file = new FormData();

            let a = document.getElementById('file').files.length;
            console.log(a);
            if (a < 1){
                $('#showImgDiv').empty();
                $('#showImgDiv').append("파일 미입력");
                return false
            }

            let b = document.getElementById('file').files[0]
            // let c = "2"

            file.append("profileImg", b);

            console.log(file);

            $.ajax({
                url: '/test/upload',
                type: 'POST',
                dataType: 'json',
                data: file,
                cache: false,
                contentType: false,
                processData: false,
                success: function(response){

                    console.log(response['msg']);
                    console.log(response['profileImgSrc'])

                    tempHtml = `
                        <img src="${response['profileImgSrc']}" style="width:100px">
                    `

                    $('#showImgDiv').empty();
                    $('#showImgDiv').append(tempHtml);


                }
            })

            return true
        }

    </script>
</head>
<body>

    <input type = "text" id = "text">
    <button onclick="test()">ff</button>
    <br><br><br>
    <input type="file" id="file">
    <button onclick="file()">완료</button>

    <div id ="showImgDiv">

    </div>
</body>
</html>