<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

</head>
<body>

<div class="modal-write hidden" style="z-index: 100">
    <div class="modal__overlay"></div>
    <div class="modal__content">
        <div class="modal__posting_title">
            <div class="modal__sbsj_img">
                <img src="static/image/sbsj_signature.png" class="modal__sbsj_img_img">
            </div>
            <a><input placeholder="제목을 입력해 주세요" id="posting_title" type="text"></a>
            <div class="modal__sbsj_img">
                <img src="static/image/작성완료.PNG" class="modal__sbsj_img_img">
            </div>
        </div>
        <div class="modal__posting_content">
            <div class="modal__posting_topic">
                <div id="topics__title">
                    <div style="width: 100%; text-align: center;">TOPICS</div>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="topic" value="1" id="topic_1">
                    <label class="form-check-label" for="flexCheckDefault">
                        중개 플랫폼
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="topic" value="2" id="topic_2">
                    <label class="form-check-label" for="flexCheckDefault">
                        라이프스타일
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="topic" value="3" id="topic_3">
                    <label class="form-check-label" for="flexCheckDefault">
                        금융
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="topic" value="4" id="topic_4">
                    <label class="form-check-label" for="flexCheckDefault">
                        소셜
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="topic" value="5" id="topic_5">
                    <label class="form-check-label" for="flexCheckDefault">
                        미디어
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="topic" value="6" id="topic_6">
                    <label class="form-check-label" for="flexCheckDefault">
                        교육
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="topic" value="7" id="topic_7">
                    <label class="form-check-label" for="flexCheckDefault">
                        생산성
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="topic" value="8" id="topic_8">
                    <label class="form-check-label" for="flexCheckDefault">
                        블록체인
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="topic" value="9" id="topic_9">
                    <label class="form-check-label" for="flexCheckDefault">
                        노코드
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="topic" value="10" id="topic_10">
                    <label class="form-check-label" for="flexCheckDefault">
                        인공지능
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="topic" value="11" id="topic_11">
                    <label class="form-check-label" for="flexCheckDefault">
                        커뮤니티
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="topic" value="12" id="topic_12">
                    <label class="form-check-label" for="flexCheckDefault">
                        분석툴
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="topic" value="13" id="topic_13">
                    <label class="form-check-label" for="flexCheckDefault">
                        디자인
                    </label>
                </div>
                <div class="topic_val_get_btn"><button onclick="topic_value_get()" type="button" class="btn btn-warning">선택 완료</button></div>
            </div>
            <div class="modal__posting_text">
                <textarea placeholder="내용을 입력해 주세요" id="posting_text" type="text"></textarea>
            </div>
        </div>
        <button style="margin: 5px" id="exit_posting" type="button" class="btn btn-outline-danger">닫기</button>
        <button style="margin: 5px" onclick="new_posting()" type="button" class="btn btn-outline-dark">작성완료</button>
    </div>
</div>

</body>
<script>
    const openButton = document.getElementById("writeNewPost");
    const modal = document.querySelector(".modal-write");
    const overlay = modal.querySelector(".modal__overlay");
    const closeBtn = modal.querySelector("#exit_posting");

    const openModal = () => {
        modal.classList.remove("hidden");
    }
    const closeModal = () => {
        modal.classList.add("hidden");
    }
    overlay.addEventListener("click", closeModal);
    closeBtn.addEventListener("click", closeModal);
    openButton.addEventListener("click", openModal);
</script>
</html>